{{> header}}

<div class="profile-section">
    <div class="profile-wrapper">
       <div class="profile-container">
            <img src="{{profilePicture}}"alt="Profile Picture">
            <img class="edit-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/150px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" alt="Edit Icon" onclick="openProfilePictureOverlay()">
        </div>

        <!-- Overlay for editing profile picture -->
        <div id="profile-picture-overlay" style="display: none;">
            <div>
                <label for="profile-picture-url">Enter URL for Profile Picture:</label>
                <input type="text" id="profile-picture-url" placeholder="Enter image URL here">
                <button onclick="updateProfilePicture()">Update Picture</button>
                <button onclick="closeProfilePictureOverlay()">Cancel</button>
            </div>
        </div>

        <div class="profile-info">
            <div class="name">{{name}}
                <button class="name-edit-button" onclick="toggleNameInput()">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/150px-Edit_icon_%28the_Noun_Project_30184%29.svg.png" alt="Edit Icon" class="name-edit-button-icon">
                </button>
            </div>
            <div id="name-input" style="display: none;">
                <form action="/profile/update-name" method="POST">
                    <div class="name-input-fields">
                        <div>
                            <label for="first-name">First Name:</label>
                            <input type="text" id="first-name" name="firstName" value="{{firstName}}">
                        </div>
                        <div>
                            <label for="last-name">Last Name:</label>
                            <input type="text" id="last-name" name="lastName" value="{{lastName}}">
                        </div>
                    </div>
                    <button type="submit">Update Name</button>
                </form>
            </div>
            <div class="email">Student | {{email}}</div>
        </div>

    </div>
    <div class="background-divider"></div>
</div>

<div class="reservations-title">Reservations</div>

<div class="outer-container">
    <div class="reservations-space">
        {{#each reservations}}
        <div class="reservation-box" data-reservation-id="{{_id}}">
            <p><strong>Lab: </strong>{{lab}}</p>
            <p><strong>Date: </strong>{{date}}</p>
            <p><strong>Time: </strong>{{startTime}}</p>
            <p><strong>Seat Numbers Reserved: </strong>{{seatNumbers}}</p>
            <p><strong>Requested: </strong>{{requestDate}}</p>
            <div class="buttons-container">
                <button class="edit-button" onclick="openEditOverlay(this)">Edit</button>
                <button class="cancel-button">Cancel</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="overlay" id="overlay"></div>
<div class="edit-overlay" id="edit-overlay">
    <h2>Edit Reservation</h2>
    <label for="edit-lab">Lab:</label>
    <select id="edit-lab">
        {{#each labs}}
            <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label for="edit-date">Date:</label>
    <input type="date" id="edit-date">
    <label for="edit-time">Time:</label>
    <input type="time" id="edit-time">
    <label for="edit-seats">Seats:</label>
    <input type="text" id="edit-seats">
    <label for="edit-anonymous">Make Anonymous:</label>
    <input type="checkbox" id="edit-anonymous">
    <button class="confirm" onclick="confirmEdit()">Confirm</button>
    <button class="cancel" onclick="closeEditOverlay()">Cancel</button>
</div>

<div class="buttons-container">
    <button class="edit-button" onclick="logout()">Logout</button>
    <button class="cancel-button" onclick="deleteAccount()">Delete Account</button>
    <button class="edit-button" onclick="profileTechnician()">View Technician's Profile</button>
</div>

<script src="/common/js/profileFront.js"></script>
