{{> header}}

<div class="profile-wrapper">
    <div class="profile-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Default_pfp.jpg?20200418092106" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <div class="name">{{firstName}} {{lastName}}</div>
        <div class="email">{{role}} | {{email}}</div>
    </div>
</div>

<div class="background-divider"></div>
<br>

<div class="reservations-title">Reservations</div>

<div class="outer-container">
    <div class="reservations-space">
        {{#each reservations}}
        <div class="reservation-box">
            <p><strong>Lab: </strong>{{lab}}</p>
            <p><strong>Date: </strong>{{date}}</p>
            <p><strong>Time: </strong>{{startTime}}</p>
            <p><strong>Seat Numbers Reserved: </strong>{{seatNumbers}}</p>
        </div>
        {{/each}}
    </div>
</div>
